* {

	box-sizing: border-box;
	font-family: "Arial";

}

.top-logo {

	height: 87px;
	padding: 16px 0;
	text-align: center;
}

.top-logo a {

	display: inline-block;
	max-width: 366px;

}

.top-logo a img {

	width: 100%;
}

.menu-block {
	height: 54px;
	background: #6b9ad0;
	position: relative;
}

.underline {
	height: 4px;
	background: #c6defa; 
	width: 100%
}

.menu-block menu {
	font-size: 0;
	text-align: center;
	max-width: 983px;
	margin: 0 auto;
	padding: 0;
}

.menu-block ul {
	padding:0;
}

.menu-block menu ul li {

	display: inline-block;
	font-size: 14px;
	color: #f1f5fa;
	height: 48px;
	margin: 3px 0;
	width: 12.125%;
	position: relative;

}

.menu-block menu ul li.active:before {

	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color: #c6defa transparent transparent transparent;
	display: block;
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -10px;
}

.menu-block menu li.active:after {
	
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 9px 0 9px;
	border-color: #6b9ad0 transparent transparent transparent;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -7px;
	
}

.menu-block  menu a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	line-height: 48px;
}

.menu-block menu ul li a:hover {
	background: #7ca7d9;
}

main {
	max-width: 983px;
	min-width: 310px;
	margin: 0 auto;
	margin-top: 53px;
}


main section {
	width: 68.3%;
	float: left;
	padding-left: 29px;
}

main aside {
	width: 31.7%;
	float: right;
	padding-left: 27px;
}

section article {
	width: 100%;
	margin-bottom: 55px;
}

article img {
	display: block;
	width: 100%;
	max-height: 228px;
} 

article a.h3 {
	text-decoration: none;
	display: inline-block;
	margin: 14px 0 9px;
}

article a.h3 h3 {
	font-size: 20px;
	color: #69747c;
	padding: 0;
	margin: 0;
}

article p {
	font-size: 12px;
	color: #69747c;
	text-align: justify;
	line-height: 18px;
}

article .article-info {
	border-top: 1px solid #e2e5e8;
	border-bottom: 1px solid #e2e5e8;
	height: 40px;
	clear: both;
	width: 100%;
}

article .article-info-date,
article .article-info-author {
	height: 38px;
	line-height: 38px;
	color: #69747c;
	float: left;
	margin-right: 22px;
	font-size: 12px;
}

article .article-info-author a {
	text-decoration: none;
	color: #838b91;
}

article .article-info-author a:hover {
	text-decoration: underline;
}

article .fa {
	padding: 0 4px;
}

article a.h3 h3:hover {
	text-decoration: underline;
	text-decoration-color: #69747c;
}

.clear {
	clear: both;
}

.clear:after,
.clear:before {
	display: table;
	content: '';
}

article .article-social {
	margin: 7px 0 0;
	padding: 0;
	float: right;
}

article .article-social li {
	list-style: none;
	background: #d1dae3;
	height: 24px;
	color: white;
	border-radius: 4px;
	display: inline-block;
	transition: all .4s ease;
}

article .article-social .counter {
	font-size: 14px;
	line-height: 24px;
	padding-right: 6px;
}
article .article-social a {
	text-decoration: none;
	color: inherit;
}

li.facebook:hover {

	background: #3c5a98;
}

li.googleplus:hover {

	background: #c25234;
}

li.twitter:hover {

	background: #00aced;

}

li.vk:hover {

	background: #48729e;

}

li.instagram:hover {

	background: #d83933;

}

span.about_head, 
span.some_head {
	margin:0;
	padding: 0;
	border-bottom: 5px solid #6794b7;
	color: #6794b7;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 42px;
	position: relative;
	display: block;
}

span.about_head:before {
	content: '?';
	display: block;
	height: 28px;
	width: 28px;
	background: #6794b7;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 28px;
	text-align: center;
}

span.some_head:before {
	content: '!';
	display: block;
	height: 28px;
	width: 28px;
	background: #6794b7;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 28px;
	text-align: center;
}

.tag-cloud {
	margin: 0;
	padding: 0;
}
.tag-cloud li {
	height: 18px;
	background: #6794b7;
	color: white;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 0 20px 0 14px;
	margin: 0 8px 6px 0;
	position: relative;
	transition: background .4s ease;
}

.tag-cloud li:hover {
	background: #b2d4ec;
}

.tag-cloud li:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #6794b7;
	position: absolute;
	right: -9px;
	top: 0;
	content: '';
	display: block;
	transition: border .4s ease;
}

.tag-cloud li:hover:before {
	border-left-color: #b2d4ec;
}

.tag-cloud li:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin-top: -4px;
}

.tag-cloud li a {
	color: inherit;
	text-decoration: none;
}

.fixed .menu-block {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.fixed .top-logo {
	padding-bottom: 134px;
}


.menu-block menu .logo_menu{
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url(../images/logo_menu.png) no-repeat;
	float: left;
	margin:7px 0 0 28px;
	position: absolute;
	display: none;
	left: 0;
}

.menu-block menu .logo_menu_phone{
	display: inline-block;
	width: 135px;
	height: 23px;
	background: url(../images/logo_menu_phone.png) no-repeat;
	float: left;
	position: absolute;
  	display: none;
  	left: 118px;
  	top: 5px;
}


span.about, span.some {
	font-size: 18px;
	display: none;
  	position: absolute;
  	left: 0;
  	top: 2px;
  	width: 40px;
  	background: #7ca7d9;
  	color: #6b9ad0;
  	height: 49px;
  	padding: 15px 0;
  	cursor: pointer;
}

span.some {
	left: auto;
  	right: 0;
}

span.about:hover, span.some:hover {
	background: rgba(255,255,255,0.45);
}

span.tag_icon, span.up_icon {
	display: none;
}






































/*TABLET*/

@media screen and (min-width: 471px) and (max-width: 863px) {

	main {
		width: 100%;
		margin: 0 auto;
	}

	main aside,
	main section {
		float: none; 
		width: 100%;
	}

	main aside {
		padding: 40px 0 32px;
		position: relative;
	}

	.menu-block menu ul li {
		width: auto;
	}

	.menu-block menu ul li a {
		padding: 0 7px;
	}
		span.about_head, span.some_head {
		font-size: 17px;
		height: 40px;
		position: absolute;
		width: 120px;
 		left: 0;
  		top: 124px;
		background: #eef4fa;
		color: #6290b4;
		line-height: 40px;
		padding: 0 32px;
		display: none;
		transform-origin: 0 0;
		transform: rotate(-90deg);
		border-bottom: none;
	}

	span.some_head {
 		padding: 0 14px;
  		right: -120px;
  		left: auto;
  		top: 4px;
 		white-space: nowrap;
		transform: rotate(90deg);
	}

	span.about_head:before, span.some_head:before {
		display: none;
	}

	aside p {
		display: none;
		padding: 0 64px;
  		text-align: justify;
  		margin: 0 0 40px;
	}

	.tag-cloud {
		text-align: center;
		margin: 0 32 32px;
	}

	article {
		position: relative; 
		padding: 0 60px;
	}

	article .article-social {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		width: 60px;
  		text-align: right;
	}

	article .article-social li {
		margin-bottom: 7px;
		display: inline-block;
	}


	.article-social li.facebook {
		background: #3c5a98;
	}

	.article-social li.googleplus {
		background: #c25234;
	}

	.article-social li.twitter {
		background: #00aced;
	}

	.article-social li.vk {
		background: #48729e;
	}

	.article-social li.instagram {
		background: #d83933;
	}

	.fixed .some-info h3.quest,
	.fixed .some-info h3.alert {
		position: fixed;
		top: 2px;
		z-index: 101;
	}

	span.about, span.some {
		display: inline-block;
	}


}
























@media screen and (min-width:370px) and (max-width: 470px)
{
	.top-logo a img {
  	width: 72%;
	}
}

































/*PHONE */


@media screen and (max-width: 470px) {

	main aside,
	main section {
		float: none; 
		width: 100%;
	}

	main aside, main section, .top-logo {
		min-width: 303px;
	}

	main aside {
		background: #e1eefc; 
		padding: 0 16px;
	}

	main section {
		padding: 18px 16px;
	}

	main {
		width: 100%;
		margin: 0 auto;
		min-width: 299px;
	}


	article a.h3 {
		display: block;
		text-align: center;
	}

	.top-logo {
		padding: 11px 45px;
  		height: 53px;
	}



	.underline, li.active:before, li.active:after {
		display: none;
	}


	article {
		position: relative;
	}

	article .article-social {
		position: absolute;
		bottom: -8%;
  		left: 0;
  		display: inline-block;
  		width: 100%;
  		text-align: center;
  		float: none;
  	}

	
	.article-social li.facebook {
		background: #3c5a98;
	}

	.article-social li.googleplus {
		background: #c25234;
	}

	.article-social li.twitter {
		background: #00aced;
	}

	.article-social li.vk {
		background: #48729e;
	}

	.article-social li.instagram {
		background: #d83933;
	}

	span.about, span.some {
		font-size: 16px;
		display: inline-block;
  		left: 2px;
  		top: 2px;
  		width: 30px;
  		background: rgba(255,255,255,0.25);
  		height: 29px;
  		padding: 7px 0;
	}

	span.some {
		left: 35px;
		line-height: 19px;
	}

	span.about_head, span.some_head {
  		position: absolute;
  		width: 120px;
  		right: 17px;
  		top: 291px;
  		/* background: #eef4fa; */
  		color: #FFFFFF;
  		display: none;
  		transform: none;
  		border-bottom: 0;
	}

	span.some_head {
 		padding: 0 14px;
  		right: -120px;
  		left: auto;
  		top: 4px;
 		white-space: nowrap;
		transform: rotate(90deg);
	}

	span.about_head:before, span.some_head:before {
		display: none;
	}

	.some-info p {
		text-align: justify;
		padding: 25px 0 32px;
		margin: 0;
		display: none;
		position: relative;
	}


	.tag-cloud {
		display: none;
		text-align: center;
		padding: 32px 6px 36px;
	}
	
	.tag-cloud li {
		padding: 0 12px 0 14px;
	}


	.fixed .some-info h3.quest,
	.fixed .some-info h3.alert {
		position: fixed;
		top: 2px;
		z-index: 101;
	}


	.menu-block {
		height: 33px;
	}

	
	article .article-info-date,
	article .article-info-author {
		height: 38px;
		line-height: 38px;
		color: #69747c;
		float: left;
		margin-right: 1.8738%;
		font-size: 12px;

	}

	span.tag_icon {
		display: inline-block;
  		position: absolute;
  		top: 55px;
  		left: 68px;
  		transform: rotate(180deg);
  		cursor: pointer;
  		width: 30px;
  		height: 29px;
 		 color: #6b9ad0;
  		text-align: center;
  		vertical-align: middle;
  		background: rgba(255,255,255,0.25);
  		line-height: 28px;
	}
	
	.tags span.tag_icon:hover {	
		background: rgba(255,255,255,0.45);
	}

	.fixed span.tag_icon {
		position: fixed;
		top: 2px;
		z-index: 101;
	}

	span.menu_icon {
		font-size: 23px;
  		position: absolute;
  		top: 6px;
  		right: 12px;
  		color: rgba(255,255,255,0.25);
  		cursor: pointer;
	}

	span.menu_icon:hover {
		color: rgba(255,255,255,0.65);
	}

	.menu-block {
		height: auto;
		padding-top: 34px;
	}

	.menu-block menu ul li{
		display: none;
		width: 100%

	}

	.menu-block ul{
		
		background: #fff;
		padding: 1px 0;
	}

	.menu-block ul li a{
		background: #e1eefc;
		color: #7ca5d6;
	}

	.menu-block ul li a:hover{
		background: #a8cdf5;
		color: #ffffff;
	}

	span.up_icon{
		position: absolute;
 		right: 11px;
  		top: 276px;
  		font-size: 22px;
  		color: white;
  		cursor: pointer;
  		display: none;
	}
}
